@import "vars";
@import "reset";
@import "mixins";

html{
    font-size: 14px;
    overflow-x: hidden;
    width: 100%;
}

*::after,
*::before{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 100%;

    font-family: 'Roboto', 'Lato', sans-serif;
    font-size: 14px;
    background-color: $fon;
    color: #fff;

    line-height: 1.5;
    //для того, чтобы нельзя было скролить при модельном окне


   &.show-sidebar{
       overflow: hidden;

   }


}

a{

    text-decoration: none;
    color: inherit;
    display: inline-block;

    &:hover{
        text-decoration: underline
    }
}

//bootstrap
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/modal";


//bloks
@import "blocks/container";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/nav";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/page";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/search";
@import "blocks/stories";
@import "blocks/post";
@import "blocks/posts";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/works";
@import "blocks/profile";
@import "blocks/modal";


//vendor


