$fon: #181818;
$black: #0D0D0D;
$blgr: #202020;
$blacks: #121212;
$blue: #3137C9;
$blu: #2A5FE7;
$blul: #107EFF;
$redl: #ED3024;
$redb: #CD251A;
$grey: #828282;
$greyl: #D2D2D2;
$or: #EA8C1E;



$r25px: 25px;
$r5px: 5px;
$r6px: 6px;
$r3px: 3px;

$shadow:  0px 15px 25px rgba(0, 0, 0, 0.35);
$shadows:  5px 0px 15px rgba(5, 5, 5, 0.1);
$shadowred:   0px 7px 17px -10px rgba(242, 63, 63, 0.2);
$shadowblue:  0px 7px 17px -10px rgba(32, 84, 219, 0.35);
$shadowblues:  0px 4px 15px -7px rgba(48, 55, 201, 0.3);



//bootstrap modal цвет оверлея

$modal-backdrop-bg: #181818;
$modal-backdrop-opacity:.8;

//media

$tablet-bp: 991px;
$mobile-bp: 700px;
$mobile-63: 630px;
$mobile-56: 560px;
$mobile-br: 450px;
$mobile-32: 320px;