.page{
    min-height: 100vh; //где мало контента там по центру, где много все нормально
    display: flex;
    flex-direction: column;
    justify-content: center;

//чтобы затемнялся контент при сайтбаре и при нажате снова все нормально становилось
    @include breakpoint($tablet-bp){
        .show-sidebar & {
            position: relative;

        }


    }
}

.page__title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;

    color: #FFFFFF;

    &--center{
       text-align: center;
    }

    @include breakpoint($mobile-63){
        text-align: center;
     }

    @include breakpoint($mobile-56){
        text-align: center;

    }

}

//чтобы можно было нажимать на маску и делать вкл

.page__mask{
    @include breakpoint($tablet-bp){

        display: block;
        width: 100%;
        height: 100%;

        background-color: rgba($black, .8);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
}

}
