<div class="modal fade" id="video2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content--story" id="close_vid">

        <button class="modal__close modal__close--videos" type="button" data-bs-dismiss="modal" aria-label="Close">
            <img class="modal__svg" src="assets/img/modal/6.svg" alt="">
        </button>

        <video class="modal__video" width="427" height="588" controls muted poster="assets/img/prot/1.jpg" id="video2">
            <source src="https://htmlbase.ru/storage/app/media/demo.mp4" type="video/mp4">
            <p>Ваш браузер не поддерживает HTML5 video</p>
        </video>



    </div>
</div>
</div>