<div class="modal fade" id="hereme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <button class="modal__close" type="button" data-bs-dismiss="modal" aria-label="Close">
            <img src="assets/img/modal/1.svg" alt="">
        </button>

        <div class="profile profile--center">
            <form class="profile__form profile__form--center" action="/" method="post">

                <div class="profile__form-group ">
                    <input class="profile__input profile__input--fon" type="text" name="name" placeholder="Имя" >
                    <span class="profile__form-line"></span>
                </div>

                <div class="profile__form-group ">
                    <input class="profile__input profile__input--fon " type="email" name="email" placeholder="Ваш e-mail">
                    <span class="profile__form-line"></span>
                </div>

                <div class="comments__form-group comments__form-group--textareas ">
                    <textarea class="comments__textarea comments__textarea--leftarea" name="comment-text" placeholder="Текст комментария"></textarea>
                    <span class="comments__form-line"></span>
                   </div>

                <div class="profile__btn">
                    <button class="btn btn--blue btn--bluee" type="submit">Отправить</button>
                </div>
                <ul class="modal__footer">
                    <li > e-mail: <a href="mailto:info@mywebsite.ru">info@mywebsite.ru </a></li>
                   <li> тел: <a href="tel:89227346188">89227346188</a></li>
                </ul>
            </form>
        </div>
    </div>
</div>
</div>