<header class="header">
    <div class="header__left">

        <nav class="nav" id="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link " href="index.html" target="_blank" data-scroll="#WORK">Главная</a>
                </li>
   <!--создание окна под статьи-->
                <li class="nav__item">
                    <p class="nav__link has-subnav " href="index.html" data-scroll="#WORK">Статьи</p>

                    <ul class="nav__subnav">
                        <li class="nav__item">
                            <a class="nav__subnav-link" href="index.html" target="_blank" data-scroll="#WORK">Создание сайтов</a>
                        </li>

                        <li class="nav__item ">
                            <a class="nav__subnav-link" href="index.html" target="_blank" data-scroll="#WORK">Интернет-маркетинг</a>
                        </li>

                        <li class="nav__item ">
                            <a class="nav__subnav-link" href="index.html" target="_blank" data-scroll="#WORK">Продвижение видео</a>
                        </li>

                    </ul>
                </li>

                <li class="nav__item">
                    <a class="nav__link " href="index.html" target="_blank" data-scroll="#WORK">Обо мне</a>
                </li>

                <li class="nav__item">
                    <a class="nav__link " href="index.html" target="_blank" data-scroll="#WORK">Реклама</a>
                </li>

            </ul>
        </nav>

           <!--бургер-->
           <button class="burger active" type="button" id="sidebarToggle">
               <span>Открыть навигацию</span>

           </button>

    </div>

    <div class="header__right">

    <nav class="nav" id="nav">
        <ul class="nav__list">
            <li>
                <a class="nav__link active" href="profile.html" target="_blank" data-scroll="#WORK">Профиль</a>
            </li>
            <li>
                <a class="nav__link active" href="signin.html" target="_blank" data-scroll="#WORK">Выйти</a>
            </li>
        </ul>
    </nav>

        <form class="search" action="search.html" method="get">
            <input class="search__input" type="text" name="name" placeholder= "Поиск по блогу">
        </form>

    </div>
</header>