<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content--share">
        <button class="modal__close" type="button" data-bs-dismiss="modal" aria-label="Close">
            <img src="assets/img/modal/1.svg" alt="">
        </button>

        <div class="social social--smodal">
            <a class="social__svg" href="" target="_blank">
                <img class="social__icon" src="assets/img/social/5.svg" alt="5" >
            </a>
            <a class="social__svg" href="" target="_blank">
                <img class="social__icon" src="assets/img/social/6.svg" alt="6" >
            </a>
            <a class="social__svg" href="https://vk.com/share.php?url=http://blogers.alexaporfoliorezume.ru/" target="_blank">
                <img class="social__icon" src="assets/img/social/8.svg" alt="8" >
            </a>
            <a class="social__svg" href="" target="_blank">
                <img class="social__icon" src="assets/img/social/4.svg" alt="4" >
            </a>
        </div>

    </div>
</div>
</div>


